body{
    color:white;
    background-color: black;
}
section{
    background-color: rgb(64, 84, 164);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
img {
    height: 150px;
}
